/*
 * ------------------------------------------------------------------
 *    Nextflow config file for the sequencing QC pipeline
 * ------------------------------------------------------------------
 */

executor {
        name                = 'slurm'
        perCpuMemAllocation = true
		exitReadTimeout     = '5 days'
}

process {

	/* ========================================================================================
		DEFAULT PARAMETERS
	======================================================================================== */
	scratch         = 'true'
	queue           = 'normal.4h'
	memory          = 5.GB
	cpus            = 1

	errorStrategy   = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
  	maxRetries      = 3


	/* ========================================================================================
		MODULE LABELS
	======================================================================================== */
	withLabel: fastqc {
		cpus   = 6
		memory = { 5.GB * task.attempt }
		time   = { task.attempt > 2 ? 120.hour : task.attempt > 1 ? 24.hour : 4.hour }
	}

	withLabel: fastqScreen {
		cpus   = 8
		memory = { 40.GB * task.attempt }
		time   = { task.attempt > 2 ? 120.hour : task.attempt > 1 ? 24.hour : 4.hour }
	}
	
	withLabel: trimGalore {
		cpus   = 4
       	memory = { 10.GB * task.attempt }
		time   = { task.attempt > 2 ? 120.hour : task.attempt > 1 ? 24.hour : 4.hour }
	}

	withLabel: multiQC {
		cpus   = 1
		memory = { 20.GB * task.attempt }
	}
}


/* ========================================================================================
	PIPELINE INFO
======================================================================================== */
timeline {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_timeline.html"
}

report {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_report.html"
}

trace {
	overwrite = true
	enabled   = true
	file 	  = "pipeline_info/execution_trace.txt"
}
